<div {% spaceless %}    
    id="{{ id }}" {% for attrname,attrvalue in attr %}{{attrname}}="{{attrvalue|trans}}" {% endfor %}
{% endspaceless %}>
    
    <div class="media_image">
        <img  style="height: 150px; width: 150px; background: #efefef" src="{{ form.vars['value'] ? path('io_media_show_upload', { 'id': form.vars['value'] }) : "" }}" id="{{ form.vars['id'] }}_image" />
        
        <ul id="{{ id }}_upload_list" class="uploader_list nav nav-list"></ul>
           
        <div id="{{ id }}_plupload">
                <button id="{{ id }}_browse" class="btn btn-mini" type="button"><i class="icon-folder-open"></i> Select files</button> 
                {#<button id="{{ id }}_upload" class="btn btn-mini" type="button"><i class="icon-upload"></i></button> #}
        </div>   
    </div>

   
    <div class="caption">
        {{ form_widget(form) }}
    </div>
    
</div>